streamlit==1.21.0
pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.2
requests==2.28.2
scipy==1.10.1
setuptools>=65.5.0
wheel>=0.38.4
scikit-surprise==1.1.1
altair<5,>=3.2.0
blinker>=1.0.0
cachetools>=4.0
click>=7.0
importlib-metadata>=1.4
packaging>=14.1
pillow>=6.2.0
protobuf<4,>=3.12
pyarrow>=4.0
pympler>=0.9
python-dateutil
rich>=10.11.0
toml
typing-extensions>=3.10.0.0
tzlocal>=1.1
validators>=0.2
gitpython!=3.1.19
pydeck>=0.1.dev5
tornado>=6.0.3
watchdog
pytz>=2020.1
joblib>=1.1.1
threadpoolctl>=2.0.0
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<1.27,>=1.21.1
certifi>=2017.4.17
six>=1.10.0
entrypoints
jinja2
jsonschema>=3.0
toolz
gitdb<5,>=4.0.1
zipp>=0.5
markdown-it-py>=2.2.0
pygments<3.0.0,>=2.13.0
smmap<6,>=3.0.1
MarkupSafe>=2.0
attrs>=22.2.0
jsonschema-specifications>=2023.03.6
referencing>=0.28.4
rpds-py>=0.7.1
mdurl~=0.1
